h1 {
  font-family: 'Lato', sans-serif;
  font-size: 18pt;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 80%;
}

hr {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #8c8b8b;
  size: 1;
}

.calc {
  border-collapse: collapse;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 80%; 
}

.calc td {
  border: 1px solid black;
}

.calc thead {
  background-color: #eeeeee;
  font-family: 'Lato', sans-serif;
  font-size:  100%;
  font-weight: bold;
}

.disabledAction {
 color: #dddddd;
}

.maskSpan {
  background-color: #cccccc;
  text-align: right;
}

.maskSpanJoinable {
  background-color: #cccccc;
  cursor: hand;
  text-align: right;
}

.rTable {
  display: table;
} 

.rTableRow {
  display: table-row;
} 

.rTableHeading {
  background-color: #ddd;
  display: table-header-group;
} 

.rTableCell {
  display: table-cell;
}

.rTableHead {
  display: table-cell;
  font-size: 80%;
  font-weight: bold;
}

.rTableCellButton {
  display: table-cell;
}

.rTableHeading {
  background-color: #ddd;
  display: table-header-group;
  font-weight: bold;
} 

.rTableFoot {
  background-color: #ddd;
  display: table-footer-group;
  font-weight: bold;
}

.rTableBody {
  display: table-row-group;
}

input[type=button], input[type=submit], input[type=reset] {
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    padding: 8px 8px;
    text-decoration: none;
}

input[type=submit] {
  background-color: green;
}

input[type=button], input[type=reset] {
  background-color: red;
}

